body {
    overflow-y: hidden;
}



.leftSide {
    border: 1px solid black;
    width: 25%;
}

.header-left {
    background-color: rgb(3, 22, 49);
}

.leftSide .header-left .uch-nuqta img {
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.leftSide .header-left .search {
    background-color: rgb(3, 22, 49);
    color: white;
}

.leftSide .header-left img {
    border-radius: 50%;
}

.leftSide .header-left .offcanvas-body h4 {
    cursor: pointer;
    transition: 0.5s;
}


.leftSide .header-left .offcanvas-body p {
    cursor: pointer;
    border: none;
    padding: 15px 10px;
    transition: 0.3s;
}
.leftSide .header-left .offcanvas-body p:hover {
    background-color: rgb(7, 46, 100);
    border-radius: 10px;
    transition: 0.3s;
}

.leftSide .users {
    width: 100%;
    height: 700px;
    overflow-y: scroll;
    background-color: rgb(3, 22, 49);
}



.leftSide .user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    color: white;
    column-gap: 25px;
    cursor: pointer;
    list-style-type: none;
    padding: 15px 20px;
    font-size: 20px;
    transition: 0.3s;
}
.leftSide .user:hover {
    background-color: rgb(4, 48, 111);
    transition: 0.3s;
}

.leftSide .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}





.rightSide {
    width: 100%;
}

.rightSide .message input {
    width: 100%;
}

.rightSide .message h4 {
    background-color: white;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.header-right {
    cursor: pointer;
    border: 1px solid gray;
    /* background-color: rgb(3, 22, 49); */
    /* color: white; */
}


.header-right .profil-modal {
    background-color: rgb(3, 22, 49);
    color: white;
}





.rightSide .message-list {
    height: 83vh;
    /* background: rgb(26,213,215);
    background: linear-gradient(0deg, rgba(26,213,215,1) 0%, rgba(165,189,105,1) 60%, rgba(174,189,99,1) 64%, rgba(253,187,45,1) 100%); */
    background-image: url(./img/7020215.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.message-form {
    margin-top: -2%;
    background-color: rgb(3, 22, 49);

}

.message-form .message-label .message-text {
    width: 90%;
    height: 45px;
    background-color: rgb(3, 22, 49);
    color: white;

    border: none;
}

.message-form .message-label .message-send {
    background-color: rgb(3, 22, 49);
    border: none;
}

.message-form .message-label .message-send img {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(3, 22, 49);
}

.message-form .message-label a {
    list-style-type: none;
    text-decoration: none;
    font-size: 40px;
    padding: 0 10px;
}









.message-list {
    list-style-type: none;
    padding: 10px 15px;
    height: 80vh;
    overflow-y: scroll;
}

/* 
.message-list .accepted {
    background-color: rgb(3, 22, 49);
    padding: 1px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 500px;
} */

.message-list .sent {
    background-color: rgb(0, 150, 250);
    color: white;
    padding: 1px 10px;
    border-radius: 10px;
    width: 500px;
    margin-left: auto;
    margin-top: 10px;
}

.message-paragrif {
    line-break: anywhere;
}


.sitebar-left {
    background-color: rgb(3, 22, 49);
    color: white;
}

.sitebar-right {
    background-color: rgb(3, 22, 49);
    color: white;
}


.sitebar_right {
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 40px;
}



.owner {
    background-color: rgb(7, 46, 100);
    color: white;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 500px;
}

.profil-image {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}



.userPhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.header-right-div {
    background-color: rgb(3, 22, 49);
    color: white;
}


